<template>
  <div class="about">
    <h1>Dashboard</h1>
    <checkbox></checkbox>
  </div>
</template>
<script>
import checkbox from '@/components/CheckBox.vue'
export default {
  name: 'Dashboard',
  components: {
    checkbox
  },
  data: function () {
    return {
      vuex_store:this.$store
    }
  }
}
</script>

