<template>
<div>
    <h1 class="page-title text-center">教育訓練申請單</h1>
    <p class="text-center">宇宙人學園教育訓練申請簽核，這是一個開始，不會是一個終點，It's My Life</p>
  <p-formgroup action="ggg">
    <div class="form-block">
   <div class="d-flex"> <span class="form-group-text">是否參加</span><p-checkbox></p-checkbox> 
     <span class="form-group-text">是否參加</span><p-textbox class="form-control"></p-textbox>
      <span class="form-group-text">是否參加</span><p-combobox class="form-control"></p-combobox>
    </div>
    <p-datagrid></p-datagrid>
    </div>
      <p-button :class="'flex-center'"></p-button>
     </p-formgroup>
     
</div>

</template>
<script>
import formgroup from '@/components/Form.vue'
import checkbox from '@/components/CheckBox.vue'
import button from '@/components/Button.vue'
import textbox from '@/components/TextBox.vue'
import combobox from '@/components/ComboBox.vue'
import datagrid from '@/components/DataGrid.vue'
export default {
  name: 'Form',
  components: {
    'p-formgroup':formgroup,
    'p-checkbox':checkbox,
    'p-button':button,
    'p-textbox':textbox,
    'p-combobox':combobox,
    'p-datagrid':datagrid,
  },
  data: function () {
    return {
      vuex_store:this.$store
    }
  }
}
</script>
<style lang="scss">
.text-center{
  text-align:center;
}
  .page-title{
    text-align:center;
    margin-top: 20px;
  }
  .form-block{
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    margin:30px 20px;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
  }
  .flex-center{
    display:flex;
    margin:0px auto;
    align-items:center;
  }
  .d-flex{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .form-group-text{
    flex:0 0 120px;
    text-align: left;
    align-self: center;
    margin-right:10px;
  }
  .form-control {
    width: 200px;
    font-size: 16px;
        border: 1px solid #ced4da;
    border-radius: .25rem;
    line-height: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    margin-right: 8px;
    height: 40px;
    &:focus {
    background-image: none;
    background-position: 50% 50%;
    border-color: #76abd9;
    -webkit-box-shadow: 0 0 7px 0 #247ba0;
    box-shadow: 0 0 7px 0 #247ba0;
    outline-color: #247ba0;
    }
}
</style>
