<template>
  <div class="home">
    <img src="../assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
// @ is an alias to /src
import checkbox from '@/components/CheckBox.vue'

export default {
  name: 'home',
  components: {
    checkbox
  }
}
</script>
