<template>
  <button class="btn" :style="style">送出表單</button>
</template>

<script>
export default {
  name: 'p-button',
  inheritAttrs: false,
  props: {
    css:{
      background: String
    }
  },
  data:function(){
    return {
      default_color:'gray',
      checked_value:false,
      vuex_store: this.$store
    }
  },
  computed:{
    style:function(){
      let currentTheme = this.vuex_store.getters.current_theme;
      //let color = 'gray';
      return{
        background:currentTheme.primary_color,
        color:currentTheme.font_color
      }
    }
  
  }
}
</script>
<style lang="scss">
.btn{
      padding: 10px 30px;
    outline: none;
    border: none;
    background: #247ba0;
    border-radius: 5px;
    font-size: 20px;
    color: white;
}
</style>

