<template>
      <label class="list-item-chackbox" >
      <input type="checkbox" v-model="checked_value"  />
      <div class="checkbox-display"  :style="style"></div>
    </label>
</template>

<script>
export default {
  name: 'p-checkbox',
  inheritAttrs: false,
  props: {
    css:{
      background: String
    }
  },
  data:function(){
    return {
      default_color:'gray',
      checked_value:false,
      vuex_store: this.$store
    }
  },
  computed:{
    style:function(){
      let currentTheme = this.vuex_store.getters.current_theme;
      let color = 'gray';
      if(this.checked_value){
        color = currentTheme.primary_color; 

      }
      return{
        background:color,
       
      }
    }
  
  }
}
</script>
<style lang="scss">
$color-white: #ffffff;
$color-main: #4a90e2;
.list-item-chackbox{
  position: static !important;
  display:block;
  cursor:pointer;
  width:24px;
  height:24px;
  top: 24px;
  left: 32px;
  bottom: 28px;
  input{
    position:absolute;
    z-index:-1;
    opacity:0;
  }
}

.checkbox-display{
  position:relative;
  height:24px;
  width:24px;
  background:$color-white;
    background-color:gray;
  input:not([disabled]):checked ~ &{
    background:$color-main;
  }
  // Hide default browser input
  &:after{
    content:'';
    position:absolute;
    display:none;
    .list-item-chackbox input:checked ~ &{
      display:block; // Show check
    }
    //checkbox的勾勾
    .list-item-chackbox &{
      left:8px;
      top:4px;
      width:5px;
      height:10px;
      border:solid $color-white;
      border-width:0 2px 2px 0;
      transform:rotate(45deg);
    }
  }
}

</style>

