<template>
  <select>
    </select>
</template>

<script>
export default {
  name: 'p-combobox',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
