<template>
  <form :action="action" :method="method">
    <slot></slot>
    <slot name="submit"></slot>
  </form>
</template>

<script>
export default {
  name: 'p-formgroup',
  props:['action','method'],
  data: function () {
    return {
      vuex_store:this.$store
    }
  }
}
</script>

<style scoped>
</style>
