
<template>
<div id="app">
  <div class="menu" v-if="vuex_state.v_menu">
    <div class="search"><input class="" type="text"  placeholder="搜尋......"/><i class="fas fa-search"></i></div>
    <ul class="menu-list">
      <template v-for="(item, index) in vuex_state.menu">
         <router-link :key="index" :to="item.path">
        <li>
          <i :class="item.class"></i>
          <span class="item-text">{{item.text}}</span> 
          <span class="tag" v-if="item.notifications > 0">{{item.notifications >= 999 ? '999+' : item.notifications}}</span>
        </li>
         </router-link>
      </template>
    </ul>
  </div>
  <div class="main">
      <div class="header" :style="{background:vuex_store.getters.current_theme.primary_color,
                                   color:vuex_store.getters.current_theme.font_color}">
    <a @click.prevent="()=>{vuex_store.commit('switch_menu')}" class="btn-menu"><i class="fas fa-bars btn-menu"></i></a>
    <ul class="menu-right" :style="{background:vuex_store.getters.current_theme.primary_color}">
      <li><a><i class="fas fa-palette"></i></a>
        <ul>
          <template v-for="(theme, index) in vuex_state.themes">
            <li @click="()=>{vuex_store.commit('switch_theme', index)}" :key="index">
              <span class="color-ball" :style="{background:theme.primary_color}"></span>
              <span class="color-ball" :style="{background:theme.second_color}"></span>
              <span class="color-ball" :style="{background:theme.normal_color}"></span>
              <span class="title">{{theme.name}}</span>
            </li>
          </template>
        </ul>
    </li>
    <li><a><i class="far fa-file-alt"></i></a>
    </li>
    <li><a><i class="fas fa-tasks"></i></a></li> 
    <img src="https://aico0118.github.io/hexschoolf2echallenge/week2_filter/img/girl_02.jpg" width="30" height="30" class="round-pic-s"/>

    <li><a>測試君</a>
                <ul  class="member-profile">
          <li style="padding:80px;"> <img src="https://aico0118.github.io/hexschoolf2echallenge/week2_filter/img/girl_02.jpg" width="100" height="100" class="round-pic-s"/></li>
       <li style="background:#eee;"><button style="width:80%; background:#247ba0;color:white;border:none;outline:none;border-radiut:5px;    border-radius: 5px;
    padding: 5px;">個人檔案</button></li>
        </ul>
    </li>
    <li><a><i class="fas fa-caret-down"></i></a></li>
</ul>
  </div>
        <div class="content"><router-view/></div>
  </div>


</div>
</template>
<style lang="scss">
$color-header: #eee;
$color-primary: #247ba0;
$color-second: #70c1b3;
$color-menu:#eee;
$color-gray:gray;
$color-palette:-webkit-linear-gradient(top, #fd0b58 0, #a32b68 100%);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "微軟正黑體";
}
#app {
  display: flex;
}
  a{
    cursor: pointer;
    text-decoration: none;
  }
.menu {
  flex: 0 0 256px;
  background-color:$color-menu; 
  height: 100vh;
       a{
    color:gray;
  }
}
.header {
  font-size: 20px;
  flex: 1;
  height: 50px;
  line-height: 50px;
  color: $color-menu;
  background: $color-primary;
  display: flex;
  justify-content: space-between;
  
}
.main{
    flex: 1;
    background-color: #f7f5f5;
}
.btn-menu {
  padding-left: 8px;
  padding-right: 8px;
}
.menu-right {
  list-style: none;
  display: flex;
  flex: 0 0 300px;
  justify-content: space-around;
  align-items: center;
  margin-right: 8px;
  background: $color-primary;
  .fa-palette {
    background: $color-palette;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  ul {
    background: white;
    list-style: none;
    position: absolute;
    z-index: 99;
    min-width: 220px;
    color: $color-gray;
    border: 1px solid #ebeef5;
    border-top: none;
    border-radius: 4px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    display: none;
    &.member-profile{
      right:5px;
    }
    li {
      height: 50px;
      align-items: center;
      justify-content: space-evenly;
      display: flex;
      &:hover {
        cursor: pointer;
        background:$color-menu;
      }
    }
  }

  a:hover > .fa-palette {
    background: -webkit-linear-gradient(top, #fefcea 0%, #f1da36 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  li:hover > ul {
    /* 滑鼠滑入展開次選單*/
    display: block;
  }
}
.round-pic-s {
  border-radius: 50%;
}

.color-ball {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 50px;
  + .title {
    flex: 0 0 80px;
  }
}

.menu{
   padding-top:20px;
  ul{
    font-size:18px;
     color: gray;
    list-style:none;
   
    li{
      display:flex;
      align-items:center;
      text-align:left;
      padding:10px 30px 10px 30px;
      i{
        flex:0 0 20px;
        text-align:center;
        margin-right:15px;
      }
      .tag{
        align-content:right;
        align-self:right;
        margin-left:15px;
      }
    }
    li:hover,li+.active{
      background:$color-second;
      color:$color-menu;
    }
    .item-text{
      flex:0 0 100px;
    }
  }
}

.tag{
  background:$color-gray;
  color:$color-menu;
  font-size:12px;
  border-radius:10px;
  padding:1px 10px;
}

.relative{
  position:relative;
}
.search{
  margin-left:30px;
  margin-bottom:10px;
  font-size:15px;
  input{
     border-radius:10px;
    border:1px solid #eee;
    padding:5px 15px;
    padding-right:35px;
    background:white;
    border:none;
    &:focus{
      outline:none; 
      border-color: #76abd9;
    -webkit-box-shadow: 0 0 7px 0 $color-header;
    box-shadow: 0 0 7px 0 $color-primary;
    outline-color:$color-primary;
    }
  }

  .fa-search{
    position:relative;
    left:-30px;
  }
}
</style>
<script>
export default {
  name: 'app',
  data: function () {
    return {
      vuex_state:this.$store.state,
      vuex_store:this.$store
    }
  }
}

</script>

